.alert-details {
  border-bottom: 1px solid #eee;
}

.img_avator {
  width: 50px;
  max-height: 50px;
  border-radius: 50%;
}

ion-icon {
  font-size: 20px;
}
.imageCss{
  width: 100%;
  height: 100%;
}
.copy-icon {
  margin-left: 12px;
}