<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="alerts">
      <ion-icon name="notifications-outline"></ion-icon>
      <ion-label>Alerts</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="rooms">
      <ion-icon name="bar-chart-outline"></ion-icon>
      <ion-label>Trading Rooms</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="classes">
      <ion-icon name="school-outline"></ion-icon>
      <ion-label>Classes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="menu">
      <ion-icon name="menu-outline"></ion-icon>
      <ion-label>Menu</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
