.room-img {
  width: 40px;
  padding: 5px;
  height: 40px;
}
.header-label {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  color: var('--app-text-color');
  text-align: center;
  border-bottom: 1.5px solid #E2E3E4;
  padding-bottom: 20px;
}
